*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(197, 236, 236);
  
    font-family: sans-serif;
    outline: none;

}
/*body{
   /* background-image :url("images.png"); 

    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
   
    object-fit: cover;
    z-index: -1;
   
}*/

.container
{
   /* opacity: 0.5;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator
{
    background-color:#3a4452;
    padding: 15px;
    border-radius:30px;
    /*box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgb(0,0,0,.16);*/
    display: grid;
    grid-template-columns: repeat(4,68px);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #e4dbdb;
    /*box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);*/
    border: none;

    border-radius: 30px;
    color: rgb(70,70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;


}

button{
    height: 48px;
    width: 48px;
    background-color: rgb(228, 224, 217);
    /*box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);*/
    border: none;
    border-radius: 50%;
    margin: 8px;
    
    font-size: 16px;

}

.equal
{
    width: 115;
    border-radius: 40px;
    background-color: rgb(228, 224, 217);
    /*box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);*/
    

}